.site-logo__link {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--button-color);
    display: flex;
    text-decoration: none;

    @media screen and (min-width: 1200px) {
            font-size: 26px;
            line-height: 1.2;
        }

           
    
}

.site-logo__link--top{
    @media screen and (max-width: 767px) {
            padding-top: 16px;
            padding-bottom: 16px;
        }
}

 

.site-logo__text {
    margin: 0;
}

.site-logo__text--black {
    color: var(--primery-text-colot);
    margin-right: 93px;

    @media screen and (min-width: 767px) and (max-width: 1200px) {
            
    margin-right: 88px;
    
        }
    
}

.site-logo__text--white {
    color: var(--back-color);
    margin-bottom: 20px;

}