:root {
    --primery-text-colot: #212121;
    --button-color: #2196F3;
    --back-color: #FFFFFF;
    --sbc: #2F303A;
    --contact-color: #757575;
    --white-whis-transparency: rgba(255, 255, 255, 0.6);
    --bgr-staff: #F5F4FA;
    --soc-link: #AFB1B8;

}